.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
margin-left: 260px;
  margin-top: 80px;
  position: relative !important;
}
.main2{
  /*position: s;*/
  /*margin-left: 270px;*/
/*margin-top: 80px;*/
}


.nav1{

position: center !important;
  border-right: 1px solid #172340 !important;
  background-color: #0c1427;
}


.ho:hover{
    color:#727cf5;

}

.il{
  /*list-style:outside;*/
  list-style-type: none;
  /*list-style-position: outside;*/
  /*text-decoration: none;*/
  /*list-style-position: ;*/
}
ul li::before{
  margin-right: 20px;
}
